.element-home {
  background-color: #ffffff;
  width: 100%;
  min-width: 393px;
  min-height: 852px;
  position: relative;
}

.element-home .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 393px;
  height: 220px;
  background-color: var(--primaryblue);
  border-radius: 0px 0px 24px 24px;
}

.element-home .cuida-user-outline {
  position: absolute;
  top: 60px;
  left: 345px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.element-home .frame {
  flex-direction: column;
  width: 191px;
  align-items: flex-start;
  top: 60px;
  left: 24px;
  display: flex;
  gap: 8px;
  position: absolute;
}

.element-home .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--heading-h3-font-family);
  font-weight: var(--heading-h3-font-weight);
  color: var(--neutralwhite);
  font-size: var(--heading-h3-font-size);
  letter-spacing: var(--heading-h3-letter-spacing);
  line-height: var(--heading-h3-line-height);
  font-style: var(--heading-h3-font-style);
}

.element-home .div {
  position: relative;
  align-self: stretch;
  font-family: var(--body-regular-font-family);
  font-weight: var(--body-regular-font-weight);
  color: var(--neutralwhite);
  font-size: var(--body-regular-font-size);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  font-style: var(--body-regular-font-style);
}

.element-home .text-wrapper-2 {
  position: absolute;
  top: 481px;
  left: calc(50.00% - 58px);
  font-family: var(--heading-h3-font-family);
  font-weight: var(--heading-h3-font-weight);
  color: var(--neutralblack);
  font-size: var(--heading-h3-font-size);
  letter-spacing: var(--heading-h3-letter-spacing);
  line-height: var(--heading-h3-line-height);
  white-space: nowrap;
  font-style: var(--heading-h3-font-style);
}

.element-home .unsplash-hzc {
  position: absolute;
  top: 316px;
  left: 12px;
  width: 365px;
  height: 149px;
  object-fit: cover;
}

.element-home .rectangle-2 {
  position: absolute;
  top: 529px;
  left: 16px;
  width: 173px;
  height: 219px;
  background-color: var(--neutralwhite);
  border-radius: 12px;
  box-shadow: 0px 4px 4px 10px #0000001a;
}

.element-home .rectangle-3 {
  position: absolute;
  top: 529px;
  left: 204px;
  width: 173px;
  height: 219px;
  background-color: var(--neutralwhite);
  border-radius: 12px;
  box-shadow: 0px 4px 4px 10px #0000001a;
}

.element-home .rectangle-4 {
  position: absolute;
  top: 535px;
  left: 22px;
  width: 150px;
  height: 88px;
  background-color: #d9d9d9;
  border-radius: 12px;
}

.element-home .rectangle-5 {
  position: absolute;
  top: 535px;
  left: 210px;
  width: 150px;
  height: 88px;
  background-color: #d9d9d9;
  border-radius: 12px;
}

.element-home .card-menu {
  display: flex;
  flex-direction: column;
  width: 157px;
  height: 200px;
  align-items: center;
  gap: 23px;
  padding: 0px 16px;
  position: absolute;
  top: 536px;
  left: 24px;
}

.element-home .group {
  position: relative;
  width: 112px;
  height: 96px;
}

.element-home .vector {
  position: absolute;
  width: 100%;
  height: 50.81%;
  top: 49.19%;
  left: 0;
}

.element-home .img {
  position: absolute;
  width: 83.87%;
  height: 100%;
  top: 0;
  left: 16.13%;
}

.element-home .vector-2 {
  position: absolute;
  width: 72.71%;
  height: 13.44%;
  top: 86.56%;
  left: 27.29%;
}

.element-home .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-h4-font-family);
  font-weight: var(--heading-h4-font-weight);
  color: var(--primaryblue);
  font-size: var(--heading-h4-font-size);
  letter-spacing: var(--heading-h4-letter-spacing);
  line-height: var(--heading-h4-line-height);
  font-style: var(--heading-h4-font-style);
}

.element-home .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-h5-font-family);
  font-weight: var(--heading-h5-font-weight);
  color: var(--primaryblue);
  font-size: var(--heading-h5-font-size);
  letter-spacing: var(--heading-h5-letter-spacing);
  line-height: var(--heading-h5-line-height);
  font-style: var(--heading-h5-font-style);
}

.element-home .card-menu-2 {
  display: flex;
  flex-direction: column;
  width: 157px;
  height: 200px;
  align-items: center;
  gap: 23px;
  padding: 0px 16px;
  position: absolute;
  top: 536px;
  left: 212px;
}

.element-home .navbar {
  display: flex;
  width: 393px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px;
  position: absolute;
  top: 772px;
  left: 0;
  background-color: #ffffff;
}

.element-home .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.element-home .rectangle-6 {
  position: absolute;
  top: 765px;
  left: calc(50.00% - 196px);
  width: 393px;
  height: 41px;
  background-color: var(--primaryblue);
  border-radius: 24px;
  box-shadow: 0px -4px 10px #0000001a;
  opacity: 0.15;
}

.element-home .search-bar {
  position: absolute;
  top: 228px;
  left: 16px;
  width: 361px;
  height: 48px;
}

.element-home .input-field {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 8px;
  padding: 48px 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--neutralgrey);
}

.element-home .text-on-a-path {
  position: absolute;
  top: -287px;
  left: -1301px;
  width: 327px;
  height: 48px;
}

.element-home .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -33.50px;
  margin-bottom: -31.50px;
  font-family: var(--body-regular-font-family);
  font-weight: var(--body-regular-font-weight);
  color: var(--neutraldark-grey);
  font-size: var(--body-regular-font-size);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  font-style: var(--body-regular-font-style);
}

.element-home .cuida-search-outline {
  position: absolute;
  width: 8.59%;
  top: 12px;
  left: 91.41%;
  height: 24px;
  aspect-ratio: 1;
}

.element-home .div-wrapper {
  width: 36px;
  height: 18px;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;
  top: 328px;
  left: 24px;
  background-color: var(--semanticorange);
  border-radius: 4px;
  display: flex;
  gap: 8px;
  position: absolute;
}

.element-home .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutralwhite);
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element-home .text-wrapper-7 {
  position: absolute;
  top: 113px;
  left: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--semanticgreen);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.element-home .frame-2 {
  width: 75px;
  height: 20px;
  align-items: center;
  justify-content: center;
  padding: 0px 14px;
  top: 284px;
  left: 16px;
  background-color: var(--secondaryblue);
  display: flex;
  gap: 8px;
  position: absolute;
}

.element-home .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: var(--caption-regular-font-family);
  font-weight: var(--caption-regular-font-weight);
  color: var(--primaryblue);
  font-size: var(--caption-regular-font-size);
  letter-spacing: var(--caption-regular-letter-spacing);
  line-height: var(--caption-regular-line-height);
  font-style: var(--caption-regular-font-style);
}

.element-home .frame-3 {
  width: 75px;
  height: 20px;
  align-items: center;
  justify-content: center;
  padding: 0px 14px;
  top: 284px;
  left: 198px;
  background-color: var(--secondaryblue);
  display: flex;
  gap: 8px;
  position: absolute;
}

.element-home .frame-4 {
  width: 75px;
  height: 20px;
  align-items: center;
  justify-content: center;
  padding: 0px 14px;
  top: 284px;
  left: 107px;
  background-color: var(--secondaryblue);
  display: flex;
  gap: 8px;
  position: absolute;
}

.element-home .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-left: -10.00px;
  margin-right: -10.00px;
  font-family: var(--caption-regular-font-family);
  font-weight: var(--caption-regular-font-weight);
  color: var(--primaryblue);
  font-size: var(--caption-regular-font-size);
  letter-spacing: var(--caption-regular-letter-spacing);
  line-height: var(--caption-regular-line-height);
  font-style: var(--caption-regular-font-style);
}
